<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--ignore</key>
	<array>
		<string>ThirdParty</string>
		<string>Libraries</string>
		<string>Frameworks</string>
		<string>Testing</string>
	</array>
	<key>--project-company</key>
	<string>Agora</string>
	<key>--use-code-order</key>
	<true/>
	<key>--clean-output</key>
	<false/>
	<key>--project-name</key>
	<string> </string>
	<key>--project-version</key>
	<string>2.4</string>
	<key>--output</key>
	<string>/Users/jinyu/Desktop/Whiteboard-iOS-doc/iOS-EN/output</string>
	<key>--company-id</key>
	<string>agora.io</string>
	<key>--index-desc</key>
	<string>/Users/jinyu/Desktop/Whiteboard-iOS-doc/iOS-EN/headers/index.md</string>
	<key>--include</key>
	<string>./</string>
	<key>--create-docset</key>
	<false/>
	<key>--install-docset</key>
	<false/>
	<key>--no-repeat-first-par</key>
	<true/>
	<key>--verbose</key>
	<string>3</string>
	<key>--logformat</key>
	<integer>1</integer>
	<key>--create-markdown</key>
	<false/>
</dict>
</plist>
